@import "defaults";

.posting {
	height: 100px;
	background-color: $lightest_gray;
	border-style: solid;
	border-width: 1px; 
	border-color: $light_gray;
	width: 600px;
}

.posting-left {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 100px;
}

.posting-title {
	height: 30px;
	font-weight: bold;
}

.posting-description {
	height: 45px;	
}
 
.posting-tagbox {
	display: inline-block;
	text-align: center;
	width: 75px;
	border-radius: 8px;
}

.full_time {
	background-color: #F66F65;
}

.part_time {
	background-color: #65A9F6;
}

.internship {
	background-color: #F6D465;
}

.posting-location {
	display: inline-block;
	width: 150px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}


.posting-date {
	display: inline-block;
	width: 125px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.search-box {
	padding: 10px 15px;

	background-color: $lightest-gray;
	border-style: solid;
	border-color: $light-gray;
	width: 600px;
}
